
.register{
    color: white;
}
.register a{
    color: #c77a7a;
}
.login-container {
    background-color: rgb(33, 9, 9);
    padding: 4000px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
h2{
    color: white;
}
.form-group {
    margin-bottom: 15px;
}
.form-container{
    margin-top: 10%;
    margin-bottom: 200px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;

}
    /* Add this to your existing style.css */

.welcome-container {
    text-align: center;
    background-color: rgb(250, 249, 249);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.welcome-container h1 {
    margin-bottom: 20px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c82333;
}

#usernameAvailability {
    display: block;
    margin-top: 5px; 
    font-size: 12px; 
    color: #59bf2a; 
}

label
{
    display: block;
    margin-bottom: 10px;
}
select{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}

  body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .stocks {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%; 
    width: 30%;
    padding: 20px;
    background-color: rgb(193, 212, 237);
    box-shadow: -2px 0 5px rgba(59, 134, 196, 0.1);
    border-radius: 20px;
    margin: 0;
    overflow-y: auto; 
    z-index: 1; 
}

.stocks label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.stocks input[type="text"],
.stocks select,
.stocks input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.stocks button {
    width: 100%;
    max-width: 200px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.stocks button:hover {
    background-color: #0056b3;
}
.graphs{
    position: fixed;
    top: 0%; 
    left: 30%;
    bottom: 0%;
    height: 100%;
    width: 70%;
    padding: 2%;
    border-style: solid;
    border-color: #5f9ed9;
    border-width: 2px;
    border-radius: 20px;
    background-color: #fafbf9;
    box-shadow: -2px 0 5px rgba(177, 42, 42, 0.1);
    margin-right: 50px;
    margin-bottom: 100px;
}
#plot {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-right: 0%;
    margin-left: 0%;
    box-sizing: border-box;
    background-color: black;
    border-width: 10px;
    border-color: #a91717;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

#loadingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}


#checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.checkboxRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.checkboxRow label {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}
.dropdown-content input[type="checkbox"] {
    display: block;
    margin: 8px 0;
}

.checkboxRow input:checked + label {
    font-weight: bold;
    color: #007bff; 
}

.checkboxRow input {
    margin-top: 5px; 
}

#header {
    text-align: center;
    padding: 2%;
    background-color: #007bff;
    color: #fff;
   
}

#header h4 {
    margin: 0;
    font-size: 24px;
}

@media (max-width: 600px) {
    .checkboxRow label {
        display: block;
        margin-bottom: 5px;
    }

    .checkboxRow input {
        margin-top: 5px; 
    }
}
