<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='5072609.jpg') }}");
            background-size: cover; /* Adjust this property based on your preference */
            /* Add other styling as needed */
        }
    </style>
    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required autocomplete="off">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required autocomplete="off">
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <p class="register">Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>
